__pycache__/

build/

.cache/*

*.log
.pybuilder/
.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/

.clangd
bin/
.vscode/*
build/
cmake-build-debug/
cmake-build-release/
.idea/
.history/