__pycache__/

**/.cache

*.log
.pybuilder/
.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/

bin/
.vscode/*
build/
cmake-build-debug/
cmake-build-release/
.idea/
.history/

.Ds_Store

*.pdf

target/
